@using RateFlix.Models.ViewModels
@model RateFlix.Models.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home";
}

<!-- Hero Section -->
<partial name="Components/_HeroSection" />

<div id="homeNewsSection" class="mt-24"></div>


<!-- Top Rated Movies -->
<partial name="Components/_TopMovies" model="Model.TopMovies" />

<!-- Top Rated Series -->
<partial name="Components/_TopSeries" model="Model.TopSeries" />


<!-- Trending Movies -->
<partial name="Components/_TrendingMovies" model="Model.TrendingMovies" />

<!-- Modal Container -->
<div id="contentModalContainer"></div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            fetch('/Home/NewsSection')
                .then(res => res.text())
                .then(html => {
                    console.log("NEWS HTML:", html);
                    document.getElementById('homeNewsSection').innerHTML = html;
                });
        });

                document.querySelectorAll('[data-count]').forEach(el => {
            const target = +el.dataset.count;
            let current = 0;
            const step = target / 30;

            const interval = setInterval(() => {
                current += step;
                if (current >= target) {
                    el.textContent = target;
                    clearInterval(interval);
                } else {
                    el.textContent = current.toFixed(1);
                }
            }, 20);
        });
    </script>
    <script src="~/js/home.js" asp-append-version="true"></script>
}
