@model RateFlix.Models.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home";
}

<!-- Hero Section -->
<partial name="Components/_HeroSection" />

<!-- Top Rated Movies -->
<partial name="Components/_TopMovies" model="Model.TopMovies" />

<!-- Top Rated Series -->
<partial name="Components/_TopSeries" model="Model.TopSeries" />


<!-- Trending Movies -->
<partial name="Components/_TrendingMovies" model="Model.TrendingMovies" />

<!-- Modal Container -->
<div id="contentModalContainer"></div>
@section Scripts {
    <script src="~/js/home.js" asp-append-version="true"></script>
}
